
@{
    ViewBag.Title = "Загрузка из файла";
}

<h2>@ViewBag.Title</h2>
<a href="/organisation/users?orgId=@Request.QueryString["orgId"]">Вернуться к списку</a>
<br />Узнайте всё о том, каким должен быть <a href="/help/usersimport">формат файла для загрузки</a> пользовталей.
