
@{
    ViewBag.Title = "SearchIndexBuilder";
}

<h2>SearchIndexBuilder</h2>
@using (Html.BeginForm("SearchIndexBuilder", "System", FormMethod.Post))
{
    <input type="submit" value="Построить индекс" />
}