@model psychoTest.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Восстановление пароля";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <hr />
    //@Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, "Почта/номер телефона", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="captcha-wrap">
        <span class="error g-recaptcha-response error" style="border: none;"></span>
        <div class="g-recaptcha" id="forgotCaptcha"></div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default btn-forgot" value="Отправить" />
        </div>
    </div>
}

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script type="text/javascript">

    jQuery(document).ready(function () {
        jQuery(".btn-forgot").prop("disabled", true);
    });
    var onloadCallback = function () {
        grecaptcha.render('forgotCaptcha', {
            'sitekey': '6LdcZg0UAAAAAOozuDXfFcT3seVZrZXeUtvRdCme',
            'callback': forgotCallback
        });
    };
    var forgotCallback = function (response) {
        //alert(response);     
        jQuery(".btn-forgot").prop("disabled", false);
    };  

  
</script>


