@{
    ViewBag.Title = "Восстановление пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Скоро вы получите СМС с новым паролем ИЛИ проверьте почту на предмет письма с ссылкой восстановления пароля<br/>
        Что-то идёт не так? Свяжитесь с нами по телефону/почте.
    </p>
</div>
	
