
@{
    ViewBag.Title = "О сервисе";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #e2e2e2;">
    <p>Меню раздела</p>
    <a href="/help">Справка</a> |
    <a href="/about/service">Услуги и стоимость</a>
</div>

@RenderBody()

