@using Microsoft.AspNet.Identity
<div class="devDiv">
    <i>Меню аутентифицированного пользователя</i>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="/cabinet">Личный кабинет</a>
            @Html.Raw("|")
            <a href="/manage">@User.Identity.GetUserName()</a>
            @Html.Raw("|")
            <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
        }
    }
    else
    {
        <a href="/account/login">Войти</a>
    }
</div>

