@model psychoTest.Models.Researches.Views.Create
@{
    ViewBag.Title = "Создание исследования";
    Layout = "~/Views/Shared/_Cabinet.cshtml";
}

<h2>@ViewBag.Title</h2>

<form method="post">
    @Html.AntiForgeryToken()
    <input type="text" name="name" placeholder="название исследования" />
    <br />
    <input type="text" name="descr" placeholder="описание (необязательно)" />
    <br/>
    <div class="devDiv">
        Тип:
        <select name="typeId">
            <option value="" disabled selected>выберите</option>
            @foreach (psychoTest.Models.Researches.ResearchType t in Model.types)
            {
                <option value="@t.id">@t.nameText</option>
            }
        </select>
    </div>
    <input type="submit" value="Создать" />
</form>


