@model psychoTest.Models.Researches.Views.ScenarioCU
@{
    ViewBag.Title = "Загрузка сценария";
    Layout = "~/Views/Shared/_Cabinet.cshtml";
}

@{ var backUrl = $"/research/show?{psychoTest.Core.RequestVals.orgId}={Model.orgId}&{psychoTest.Core.RequestVals.researchId}={Model.researchId}"; }
<a href="@backUrl">Вернуться к исследованию</a>
<h2>Загрузить сценарий из:</h2>
<span id="lnkFile" class="devSpanLnk">файла</span>
<span id="lnkLib" class="devSpanLnk">билиотеки</span>

<div class="devDiv" style="display: none;" id="blockFile">
    Из файла<br/>
    <div class="devDivInfo"><a href="#">Формат файла сценария опросника</a></div>
    <input type="file" id="filename" />
    <input type="button" id="uploadFileButton" value="загрузить" />
    <div id="uploadError" style="display: none;">
        В сценарии опросника обнаружена ошибка:
        <div id="uploadLog">
        </div>
    </div>
</div>
<div class="devDiv" style="display: none;" id="blockLib">
    Из библиотеки
</div>

@Scripts.Render($"/scripts/pages/{Request.Url.LocalPath.Trim('/').Replace("/", "_")}.js")
